{{ template "header" . }}
<div class="container-fluid">
    <div class="row flex-nowrap min-vh-100">
        {{ template "navbar" . }}
        <div class="col py-3 offset-md-2 offset-lg-2 offset-xl-1">

                <div class="row mb-4">
                    <div class="col-12">
                        <select id="timePeriodSelect" class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                            <option value="1">Letzte Stunde</option>
                            <option value="12">Letzte 12 Stunden</option>
                            <option value="24">Letzte 24 Stunden</option>
                            <option value="48">Letzte 48 Stunden</option>
                            <option value="168">Letzte 7 Tage</option>
                            <option value="672">Letzte 30 Tage</option>
                            <option value="1344">Letzte 2 Monate</option>
                            <option value="2016">Letzte 3 Monate</option>
                            <option value="4032">Letzte 6 Monate</option>
                        </select>

                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-3 d-flex justify-content-center">
                        <div class="card w-100 card-shadow card-border-radius">
                            <div class="row p-1">
                                <div class="col-6">
                                    <span>Gesamt Gewicht</span>
                                    <h5>Value</h5>
                                    <p>Test</p>
                                </div>
                                <div class="col-6">
                                    <p>Chart</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-6">

                    </div>
                    <div class="col-6">
                        <div class="card w-100 card-shadow card-border-radius">
                            <div id="WeightPerNode" style="width: 100%; height: 400px;"></div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-12">
                        <div class="card w-100 card-shadow card-border-radius">
                            <div id="weightChart" style="height:400px;"></div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-12">
                        <div class="card w-100 card-shadow card-border-radius">
                            <div id="tempInChart" style="height:400px;"></div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-12">
                        <div class="card w-100 card-shadow card-border-radius">
                            <div id="tempOutChart" style=";height:400px;"></div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-12">
                        <div class="card w-100 card-shadow card-border-radius">
                            <div id="humidityChart" style="height:400px;"></div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-12">
                        <div class="card w-100 card-shadow card-border-radius">
                            <div id="wifiStrengthChart" style="height:400px;"></div>
                        </div>
                    </div>
                </div>


        </div>
    </div>
</div>



<script>
    document.getElementById("timePeriodSelect").addEventListener("change", function() {
        const hours = this.value;
        initCharts(hours);
    });

    var weightsData = {{.weights}};
    document.addEventListener("DOMContentLoaded", function() {
        var myChart = echarts.init(document.getElementById('WeightPerNode'));
        var option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: { type: 'shadow' }
            },
            xAxis: {
                type: 'category',
                data: weightsData.map(function(item) { return 'Node ' + item._id; })
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: weightsData.map(function(item) { return item.latestWeight; }),
                type: 'bar'
            }]
        };
        myChart.setOption(option);
    });



    document.addEventListener("DOMContentLoaded", function() {
        findDataForAvailableTimePeriod();
        //initCharts(24); // Lädt standardmäßig die Daten der letzten 24 Stunden
    });

    function findDataForAvailableTimePeriod() {
        const timePeriods = [1, 12, 24, 48, 168, 672, 1344, 2016, 4032]; // Stunden

        function checkDataAvailability(index) {
            if (index >= timePeriods.length) {
                console.error('Keine Daten in verfügbaren Zeitperioden gefunden.');
                return;
            }

            const hours = timePeriods[index];
            fetch(`/data?hours=${hours}`)
                .then(response => response.json())
                .then(data => {
                    if (!data || data.length === 0) {
                        // Keine Daten gefunden, nächsten Zeitraum überprüfen
                        checkDataAvailability(index + 1);
                    } else {
                        // Daten gefunden, Charts initialisieren
                        initCharts(hours);
                    }
                })
                .catch(error => {
                    console.error('Fehler beim Laden der Daten:', error);
                    // Bei Fehler, nächsten Zeitraum überprüfen
                    checkDataAvailability(index + 1);
                });
        }

        checkDataAvailability(0); // Starte mit dem kürzesten Zeitraum
    }

    function getXAxisLabelFormat(hours) {
        if (hours <= 24) {
            // Weniger als oder gleich 24 Stunden: Zeige Uhrzeit
            return 'HH:mm';
        } else if (hours <= 168) {
            // Weniger als oder gleich 7 Tage: Zeige Tag im Monat
            return 'MM-DD';
        } else if (hours <= 672) {
            // Weniger als oder gleich 30 Tage: Zeige Tag und Monat
            return 'MM-DD';
        } else {
            // Mehr als 30 Tage: Zeige Monat und Jahr
            return 'YYYY-MM';
        }
    }


    function prepareEChartData(data, valueKey) {
        const series = {};
        const dates = new Set();

        data.forEach(snapshot => {
            const timestamp = snapshot.Date + ' ' + snapshot.Time;
            dates.add(timestamp);

            snapshot.Nodes.forEach(node => {
                if (!series[node.NodeID]) {
                    series[node.NodeID] = {
                        name: 'Node ' + node.NodeID,
                        type: 'line',
                        data: [],
                        smooth: true
                    };
                }
                const value = node[valueKey];
                if (value !== undefined) {
                    series[node.NodeID].data.push([timestamp, value]);
                }
            });
        });

        return {
            series: Object.values(series),
            xAxisData: Array.from(dates).sort()
        };
    }


    function initCharts(hours) {
        loadData(hours, 'Weight', 'weightChart');
        loadData(hours, 'TempIn', 'tempInChart');
        loadData(hours, 'TempOut', 'tempOutChart');
        loadData(hours, 'Humidity', 'humidityChart');
        loadData(hours, 'WifiStrength', 'wifiStrengthChart');
    }

    function loadData(hours, valueKey, chartId) {
        fetch(`/data?hours=${hours}`)
            .then(response => response.json())
            .then(data => {
                if (!data || data.length === 0) {
                    document.getElementById(chartId).textContent = 'Aktuell keine Werte vorhanden.';
                } else {
                    const { series, xAxisData } = prepareEChartData(data, valueKey);
                    initECharts(series, xAxisData, chartId);
                }
            })
            .catch(error => {
                console.error('Fehler beim Laden der Daten:', error);
                document.getElementById(chartId).textContent = 'Fehler beim Laden der Daten.';
            });
    }

    function initECharts(seriesData, xAxisData, chartId) {
        const myChart = echarts.init(document.getElementById(chartId));
        const option = {
            tooltip: { trigger: 'axis' },
            xAxis: { type: 'category', data: xAxisData },
            yAxis: { type: 'value' },
            series: seriesData
        };

        myChart.setOption(option);
    }

</script>
{{ template "footer" . }}


