{{ template "header" . }}

<div class="container-fluid">
    <div class="row flex-nowrap min-vh-100">
        {{ template "navbar" . }}
        <div class="col py-3 offset-md-2 offset-lg-2 offset-xl-1">
            <div class="container">
                <div class="row">
                    <!-- Content -->

                    <button onclick="initCharts(1)">Letzte Stunde</button>
                    <button onclick="initCharts(12)">Letzte 12 Stunde</button>
                    <button onclick="initCharts(24)">Letzte 24 Stunden</button>
                    <button onclick="initCharts(48)">Letzte 48 Stunden</button>
                    <button onclick="initCharts(168)">Letzte 7 Tage</button>
                    <button onclick="initCharts(672)">Letzte 30 Tage</button>
                    <button onclick="initCharts(1344)">Letzte 2 Monate</button>
                    <button onclick="initCharts(2.016)">Letzte 3 Monate</button>
                    <button onclick="initCharts(4.032)">Letzte 6 Monate</button>

                    <div id="main" style="width: 100%; height: 400px;"></div>

                    <div id="weightChart" style="height:400px;"></div>
                    <div id="tempInChart" style="height:400px;"></div>
                    <div id="tempOutChart" style=";height:400px;"></div>
                    <div id="humidityChart" style="height:400px;"></div>
                    <div id="wifiStrengthChart" style="height:400px;"></div>








                </div>
            </div>

        </div>
    </div>
</div>



<script>
    var weightsData = {{.weights}};
    document.addEventListener("DOMContentLoaded", function() {
        var myChart = echarts.init(document.getElementById('main'));
        var option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: { type: 'shadow' }
            },
            xAxis: {
                type: 'category',
                data: weightsData.map(function(item) { return 'Node ' + item._id; })
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: weightsData.map(function(item) { return item.latestWeight; }),
                type: 'bar'
            }]
        };
        myChart.setOption(option);
    });



    document.addEventListener("DOMContentLoaded", function() {
        initCharts(24); // Lädt standardmäßig die Daten der letzten 24 Stunden
    });

    function prepareEChartData(data, valueKey) {
        const series = {};
        const dates = new Set();

        data.forEach(snapshot => {
            const timestamp = snapshot.Date + ' ' + snapshot.Time;
            dates.add(timestamp);

            snapshot.Nodes.forEach(node => {
                if (!series[node.NodeID]) {
                    series[node.NodeID] = {
                        name: 'Node ' + node.NodeID,
                        type: 'line',
                        data: [],
                        smooth: true
                    };
                }
                const value = node[valueKey];
                if (value !== undefined) {
                    series[node.NodeID].data.push([timestamp, value]);
                }
            });
        });

        return {
            series: Object.values(series),
            xAxisData: Array.from(dates).sort()
        };
    }


    function initCharts(hours) {
        loadData(hours, 'Weight', 'weightChart');
        loadData(hours, 'TempIn', 'tempInChart');
        loadData(hours, 'TempOut', 'tempOutChart');
        loadData(hours, 'Humidity', 'humidityChart');
        loadData(hours, 'WifiStrength', 'wifiStrengthChart');
    }

    function loadData(hours, valueKey, chartId) {
        fetch(`/data?hours=${hours}`)
            .then(response => response.json())
            .then(data => {
                if (!data || data.length === 0) {
                    document.getElementById(chartId).textContent = 'Aktuell keine Werte vorhanden.';
                } else {
                    const { series, xAxisData } = prepareEChartData(data, valueKey);
                    initECharts(series, xAxisData, chartId);
                }
            })
            .catch(error => {
                console.error('Fehler beim Laden der Daten:', error);
                document.getElementById(chartId).textContent = 'Fehler beim Laden der Daten.';
            });
    }

    function initECharts(seriesData, xAxisData, chartId) {
        const myChart = echarts.init(document.getElementById(chartId));
        const option = {
            tooltip: { trigger: 'axis' },
            xAxis: { type: 'category', data: xAxisData },
            yAxis: { type: 'value' },
            series: seriesData
        };

        myChart.setOption(option);
    }

</script>

{{ template "footer" . }}

